<div class="page">
  <div class="timeslot_container">
    <div class="user-profile">
      <img
        src="../images/avatar.png"
        alt="User Profile Picture"
        width="80"
        height="80"
      />
      <div class="user-info">
        <strong>User: Shawn CoChiong</strong>
        <br />
        <span>Email: shawn_cochiong@dlsu.edu.ph</span>
      </div>
      <p class="my_reservation">My Reservation</p>
    </div>

    <table class="lab_reservations">
      <thead>
        <tr>
          <th>Room</th>
          <th>Seat Number</th>
          <th>Date</th>
          <th>Time</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>

        </tr>
      </tbody>
    </table>
  </div>
</div>